<!-- ./views/edit.handlebars -->
<form action="/restaurants/{{{restaurant.id}}}" method="POST">
  <input type="text" placeholder="name" name="name" value="{{{restaurant.name}}}">
  <input type="text" placeholder="name" name="name_en" value="{{{restaurant.name_en}}}">
  <input type="text" placeholder="name" name="category" value="{{{restaurant.category}}}">
  <input type="text" placeholder="name" name="image" value="{{{restaurant.image}}}">
  <input type="text" placeholder="name" name="location" value="{{{restaurant.location}}}">
  <input type="text" placeholder="name" name="google_map" value="{{{restaurant.google_map}}}">
  <input type="text" placeholder="name" name="rating" value="{{{restaurant.rating}}}">
  <input type="text" placeholder="name" name="description" value="{{{restaurant.description}}}">
  <button type="submit">Edit</button>

</form>